.slider{
    width: 340px;
    margin: 0 10px;
    display: inline-block;
}
.rc-slider-track{
    background-color: transparent;
}
.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:hover,
.rc-slider-handle:focus{
    background-color: teal;
    outline: none;
    border: 2px solid teal;


}
.rc-slider-rail{
    height: 8px;
}

.Navbar{
    display:  flex;
    height: 6vh;
    align-items: center;
    justify-content: flex-start;  
}
.logo{
    margin-right: 15px;
    padding: 0 13px;
    font-size: 22px;
    font-family: Roboto;
    height: 100%;
    display: flex;
    align-items: center;
    background-color:#393939;
}
.logo .logo-link{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    /* text-transform: uppercase; */
}